.header {
	font-family: 'Poppins', sans-serif;
	background-color: gray;
	border-radius: 10px;
}

.slider ul {
	width: 100%;
	transition: 1s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.slider ul li {
	margin-block: 0.5rem;
	margin-inline: 2rem;
	list-style: none;
}

.slider ul li Button,
.link a {
	font-size: 15px;
	text-decoration: none;
	color: #fff;
	font-weight: bolder;
}

.menu-icon .menu {
	display: none;
	color: #fff;
	font-size: 60px;
}

.closed {
	display: none;
	cursor: pointer;
	color: #fff;
	justify-content: flex-start;
	width: 100%;
}
.logout {
	background-color: red;
	padding: 10px 30px;
	border-radius: 10px;
}
.MuiMenuItem-root {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(156, 155, 155);
	font-size: 15px;
	color: #fff;
	font-weight: bolder;
	padding: 10px 30px;
	text-transform: uppercase;
}
.MuiList-root {
	background-color: rgb(156, 155, 155);
}
.menu-link {
	text-decoration: none;
}

@media (max-width: 1000px) {
	.header {
		font-family: 'Poppins', sans-serif;
		background-color: gray;
	}

	.slider {
		position: fixed;
		min-width: 100%;
		height: 100vh;
		top: -100%;
		background-color: rgb(17, 12, 12);
	}

	.slider.active {
		position: relative;
		top: 0;
	}

	.slider ul {
		display: relative;
		flex-direction: column;
		align-items: center;
		list-style: none;
	}

	.slider ul li {
		margin-block: 2.5rem;
	}

	.slider ul li Button {
		font-size: 25px;
		text-decoration: none;
		color: #fff;
	}

	.menu-icon .menu {
		display: block;
		color: #fff;
		font-size: 60px;
		justify-content: right;
	}

	.closed {
		display: flex;
		cursor: pointer;
		color: #fff;
		justify-content: flex-start;
		width: 100%;
	}
}
