.header {
	display: flex;
	justify-content: flex-end;
	background-color: black;
}
.menu-icon {
	color: white;
	cursor: pointer;
}
.slider {
	position: fixed;
	gap: 1rem;
	top: 0;
	right: 0;
	height: 100vh;
	width: 50%;
	background: black;
	z-index: 999;
	text-transform: uppercase;
	transform: translateX(100%);
	transition: transform 0.5s ease-in-out;
}
.slider ul {
	list-style-type: none;
	padding: 0;
	margin-top: 8em;
}
.slider ul li Button {
	margin: 1em;
	color: white;
	padding: 0.75em 2em;
}
.slider li {
	flex-grow: 1;
}
.slider ul li Button:hover {
	background: gray;
}
.close {
	float: right;
	margin: 1em;
	width: 2.5em;
	color: white;
	cursor: pointer;
}

.MuiMenuItem-root {
	font-family: 'Poppins', sans-serif;
	background-color: rgb(187, 186, 186);
	font-size: 15px;
	color: black;
	font-weight: bolder;
	padding: 10px 30px;
	text-transform: uppercase;
}
.MuiList-root {
	background-color: rgb(187, 186, 186);
}
.menu-link {
	text-decoration: none;
}
.open-slider {
	transform: translateX(0);
}

@media only screen and (min-width: 920px) {
	.header {
		justify-content: center;
	}
	.menu-icon {
		display: none;
	}
	.slider {
		transform: translateX(0);
		position: unset;
		display: flex;
		justify-content: center;
		width: 100%;
		height: auto;
		background: none;
		background: black;
		border-radius: 0 0 20px 20px;
	}
	.close {
		display: none;
	}
	.slider ul {
		display: flex;
		margin: 0;
	}
	.slider ul li Button {
		color: white;
		padding: 0.75em 2em;
		background-color: rgb(46, 36, 36);
		margin: 10px;
	}
}
