.box h2 {
	text-align: center;
}

.firstPart {
	display: flex;
	gap: 1rem;
	padding: 1rem;
	flex-shrink: 0;
	flex-wrap: wrap;
}

.firstPart div {
	flex-grow: 1;
	text-align: center;
}
.odbiorcy,
.nadawcy {
	margin: 0 auto;
}

.secondPart {
	text-align: center;
	padding: 1rem;
	flex-wrap: wrap;
	flex-shrink: 0;
}
td {
	border-width: 1px;
	border-style: solid;
	width: 90px;
	height: fit-content;
	text-align: center;
}

.div_ceny {
	display: flex;
	margin-top: 20px;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-shrink: 0;
}
.first_col {
	float: left;
	flex-shrink: 0;
}

.rows {
	flex-shrink: 0;
}
